@charset "UTF-8";
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
 body{
    background-color: white;
 }
.header{
    background: #8E5B7E;
    height: 50px;
    color: white;
    display: flex;
    gap: 12px;
    padding-top: 15px;
}
.header a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
}
.header a:hover{
    text-decoration: underline;
    text-shadow: 2px 2px 10px white;
    
}
.cabecario{
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;

}
.cabecario2 img{
    width: 300px;
}
.cabecario1 h1{
     color: #e446b2;
     text-align: center;
     
     
}
.cabecario1 p{
    text-align: center;
    font-size: 12px;

} 
main{
    text-align: justify;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.521);
    max-height: 1600px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    max-width: 700px;
    margin: auto;

}


.principal{
    
    display: flex;
    
}


.transparente img{
    display: block;
    margin: auto;
}
.texto h1{
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
} 
.texto p{
    padding-left: 10px;
    text-indent: 20px;
    line-height: 1.5em;
    margin-top: 20px;
    text-align: justify;
}

.texto img{
    margin: auto;
    height: 200px;
    display: block;
}
.principal2 img{
    height: 400px;
    padding: 0px;
    padding-left: 20px;
    border-radius: 30px;
}
.borda1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right:20px;
    height: 320px;
    background-color: black;
    
}

.borda2{
    border: 2px solid white;
    color: black;
    height: 220px;
    background-color: white;
    border-radius: 30px ;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    width: 500px;

}

.borda3{
    border: 10px solid white;
    color: black;
    height: 250px;
    background-color: white;
    margin-top: 20px;
    border-radius: 30px ;
    margin-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 500px;    
    
}

.borda4{
    border: 10px solid white;
    color: black;
    height: 250px;
    background-color: white;
    border-radius: 30px ;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    width: 500px;
    
}
.borda1 h2{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;
    color: #e446b2;
    
}
.borda1 p{
    text-align: center;
    font-size: 16px;
    padding: 10px 5px 0px 5px;
    line-height: 20px;
    color: black;
    
}
.borda1:hover{
    background-color: #e446b2;
}
.borda2:hover{
      box-shadow: 1px 1px 1px 5px  white;
      transition: 1.5s;
}
.borda3:hover{
    box-shadow: 1px 1px 1px 5px  white;
      transition: 1.5s;
}
.borda4:hover{
    box-shadow: 1px 1px 1px 5px  white;
      transition: 1.5s;
}

.promocao{
    display: flex;
    background-color: white;
    
}
.promocao1 img{
    height: 300px;
    margin-top: 20px;
}
.promocao2 p{
    text-align: justify;
    font-size: 16px;
    line-height: 1.5em;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.promocao2 img{
    width: 300px;
}
.fim{
    display: flex;
    background-color: white;
    margin: 0px -20px 0px -20px;
}
.final1 img{
    display: block;
    margin: auto;
    margin-left: 100px;
    background-color: ;
    border-radius: 190px;
    height: 200px;
    
}
.final2 h1{
    text-align: center;
    padding-top: 60px;
    padding-right: 100px;
    color:black;
    font-size: 20px;
    font-family: serif;
    text-shadow: 2px 2px  10px #e446b2;
    
}


.fo{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding-bottom: 0px;
    margin-left: -20px;
    margin-right: -20px;`
    
    
    
}
li{
   list-style: none;
     padding: 5px;
     text-align: center;
     
}
 h4{

    text-align: center;
    font-weight: bold;
    color:rgb(254, 255, 196) ;
    font-size: 20px;

}
.fo1{
   margin: 0px 30px 0px 30px;
   padding-top: 20px;
   height: 200px;
 
}
.fo1 a{
     text-decoration: none;
     color:white;
     
}
.fo1 a:hover{
color: #e446b2;
text-decoration: underline;
transition: 0.5s;
 }
 .link img{
    height: 40px;
    margin: auto;
    justify-content: center;
    padding-top: 5px;
    background-color: rgba(0, 0, 255, 0.774);
    border-radius: 50px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 3px;
    transition: 0.5s;
 }
 .link img:hover{
        background-color: white;
 }
 .link0{
 margin-left: 5px;
 }